body {
  background-color: #f4f4f4;
}
header {
  color: rgb(3, 3, 96);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.principal {
  border: 2px solid #dcdcdc;
}
#pitalic {
  font-style: italic;
  text-align: center;
}
h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}
